[project]
	description = Contains a simple HTTP and FTP client created using ruby sockets
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/tydomitrovich
[access "refs/for/refs/*"]
	read = group user/tydomitrovich
	push = group user/tydomitrovich
	label-Code-Review = -2..+2 group user/tydomitrovich
	label-Verified = -1..+1 group user/tydomitrovich
	rebase = group user/tydomitrovich
	removeReviewer = group user/tydomitrovich
	submit = group user/tydomitrovich
[access "refs/heads/*"]
	read = group user/tydomitrovich
	create = group user/tydomitrovich
	push = +force group user/tydomitrovich
	pushMerge = group user/tydomitrovich
[access "refs/tags/*"]
	push = group user/tydomitrovich
	push = +force group user/tydomitrovich
